.gradle/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
eclipse/
gradle/
gradlew
gradlew.bat
logs/
forge_clj.jar
/forge-1.8.9-11.15.1.1722-changelog.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/test-mod.ipr
/update-environment.sh
/test-mod.iml
